@use "../abstracts/variables" as vars;

.hero-section {
  @include flexbox(row, center, center, wrap);
  margin-top: -6.9rem;
  padding-top: 6.9rem;
  min-height: 100vh;
  background: radial-gradient(
    circle at 50% 50%,
    vars.$clr-accent-purple-600 0%,
    rgba(255, 255, 255, 0) 100%
  );

  & .hero-content {
    @include flexbox(column, start, start, wrap);
    gap: vars.$gap-small;
    align-self: stretch;
    margin-top: 3.75rem;
  }
}

.hero-content .wrapper {
  & p {
    font-size: 1.25rem;
    font-family: vars.$font-family-secondary;
  }
  & p:has(a) {
    padding: 1rem 0rem 2.5rem 0rem;
  }
}

.hero-content .avatar,
.hero-content h1,
.hero-content p,
.hero-content button {
  transform: translateY(0.5rem);
  opacity: 0;
}
