@use "../abstracts/variables" as vars;

.hero-section {
  @include flexbox(row, center, center, wrap);
  margin-top: -6.9rem;
  padding-top: 6.9rem;
  min-height: 100vh;
  background: radial-gradient(
    circle at 50% 50%,
    vars.$clr-accent-purple-600 0%,
    rgba(255, 255, 255, 0) 100%
  );

  & .hero-content {
    @include flexbox(column, start, start, wrap);
    gap: vars.$gap-small;
  }
}
